<h1>Deathpoooool</h1>
<p>Player profile</p>
<%if !@activated%>
<p>Your account is pending validation. Boo!  You can't play yet</p>	
<%else%>
<p><%=current_user.email%> - Welcome to the club.</p>	
<%end%>